.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .main-section-2 {
  margin-top: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.logopart {
  position: relative;
  padding: 0;
}
.main-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video {
  width: 100%;
}
.main-text {
  color: white;
  font-size: 20px;
}
.mainbody {
  padding: 0px;
  position: relative;
}
.header-bottom {
  margin-top: -200px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-bottom-width {
  width: 70%;
  padding: 20px 15px;
  border-radius: 9px 0px 0px 9px;
  background: transparent linear-gradient(278deg, #ff7000 0%, #ec1377 100%) 0%
    0%;
  margin-bottom: 10px;
  margin-left: 2rem;
}

.header-bottom-text {
  color: white;
  /*  text-transform: capitalize; */
  font-size: 18px;
}
.main-video {
  margin-left: 2rem;
  margin-top: 10rem;
}

@media (max-width: 990px) {
  .main-video {
    margin-left: -1rem !important;
  }
  .header-bottom-width {
    width: 80%;
  }
  .mainbody {
    right: 0rem;
    bottom: -9rem;
  }
}

@media (max-width: 500px) {
  .header-bottom-width {
    width: 80%;
  }
  .main-img {
    width: 100%;
  }
  .mainbody {
    right: 0rem;
    bottom: -7.9rem;
  }
}
@media (max-width: 410px) {
  .header-bottom-text {
    font-size: 15px;
  }
  .mainbody {
    right: 0rem;
    bottom: 5rem;
  }
  .main-video{
    margin-top: 0rem !important;
  }
}
@media (max-width: 370px) {
  .header-bottom-text {
    font-size: 10px;
  }
}
.slick-arrow {
  top:20% !important;
}