.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section-2 {
  margin-top: 1%;
  margin-top: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-video {
  position: relative;
  padding: 0;
}
.video {
  width: 100%;
}
.main-text {
  color: white;
  font-size: 20px;
}
.mainbody {
  padding: 0px;
}
.header-bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-bottom-width {
  width: 70%;
  padding: 20px 15px;
  border-radius: 9px 0px 0px 9px;
  background: transparent linear-gradient(278deg, #ff7000 0%, #ec1377 100%) 0%
    0%;
  margin-bottom: 10px;
  margin-left: 2rem;
}

.header-bottom-text {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
}
@media (max-width: 1270px) {
  .main-section-2 {
    top: 30%;
  }
}
@media (max-width: 990px) {
  .header-bottom-width {
    width: 80%;
  }
  .main-section-2 {
    position: static;
    transform: none;
  }
  .video {
    display: none;
  }
}
@media (max-width: 500px) {
  .header-bottom-width {
    width: 80%;
  }
}
@media (max-width: 410px) {
  .header-bottom-text {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .header-bottom-text {
    font-size: 10px;
  }
}

