.carsol-img {
  position: relative;
}
.main-img-hover {
  position: relative;
}
.carousel-text {
  position: absolute;
  left: 5rem;
  bottom: 0rem;
  letter-spacing: 0.88px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  z-index: 5000;
}
.arrow-icon-carrosoul {
  width: 14%;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: white;
}
.fa-chevron-left,
.fa-chevron-right {
  color: #e61b67;
}
.scroll {
  overflow: auto;
  white-space: nowrap;
}

.img-carosoul {
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.80; */
}

.img-carosoul-hover {
  position: relative;
  /* background-color: #010001; */
}
.text-hover {
  position: absolute;
  color: #ffffff;
  font-size: 17px;
  font-size: 600;
  left: 15%;
  display: none;
}
.hover:hover {
  /* opacity: 0.3; */
  border-radius: 15px;
}
/* .carsol-img-hover::before {
  content: "";
  position: absolute;

  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../image/Group\ 70.svg");
  opacity: 1;
} */
/* .carsol-img-hover:hover {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../image//Group\ 70.svg");
  opacity: 1;
} */
.img_parent_hover:hover {
  cursor: pointer;
}

.img_parent {
  position: relative;
  top: 0;
  left: 0;
  padding-right: 2rem;
}

.image1 {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid #000000;
  opacity: 0;
  /* height:400px; */
  width: 290px;
  max-width: 300px !important;
}
.image1 p {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.75px;
  position: absolute;
  left: 80px;
}

.image2 {
  position: absolute;
  top: 100px;
  left: 64px;
  border: 1px solid #000000;
  width: 160px;
  height: 150px;
}

.img_parent_hover:hover .image2 {
  transition: 0.3s opacity linear;
  opacity: 0.3;
  border: none;
  width: 165px;
  height: 150px;
}

.img_parent_hover:hover .image1 {
  transition: 0.3s opacity linear;
  opacity: 1;
  border: none;
}

.slick-list {
  height: 200px;
}

/* Start  */

/* ------------------------------------------------ */
/* Portfolio */
/* ------------------------------------------------ */

.portfolio_container {
  -webkit-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
  min-height: 70px;
  /*background-color: #191919;*/
  position: relative;
}

.layout-fullwidth {
  padding: 0 80px;
}

.page-template-template-portfolio-fullscreen-carousel.layout-fullwidth,
.page-template-template-portfolio-fullscreen-autoplay.layout-fullwidth,
.page-template-template-portfolio-fullscreen-lightbox.layout-fullwidth,
.page-template-template-portfolio-fullscreen-vegas.layout-fullwidth,
.page-template-template-portfolio-fullscreen-video.layout-fullwidth,
.page-template-template-portfolio-fullscreen-lightbox2.layout-fullwidth {
  padding: 0;
}

.layout-fullwidth.fixed-nav {
  padding-top: 98px;
}

.portfolio_container.boxed-style {
  /*padding: 20px 0 0 0;*/
}

.portfolio_container.no-space {
  padding: 0 10px;
}

#portfolio-gallery-wrapper.boxed-style {
  margin: 0 10px;
}

#portfolio-gallery-wrapper.boxed-style.container {
  margin: 0 auto;
}

.portfolio_container.container_fullwidth.boxed-style {
  padding: 0 10px;
}

.container_fullwidth,
.container.container_fullwidth,
.container.fullwidth-navigation,
.layout-fullwidth .container.portfolio_container,
.layout-fullwidth .container.blog-content,
.layout-fullwidth .container.portfolio-share {
  width: 100%;
}

.page-template-template-portfolio-fullscreen-lightbox2.layout-fullwidth
  .container.portfolio_container {
}

.page-template-template-portfolio-fullscreen-lightbox2.layout-fullwidth
  .portfolio_container.no-space,
.page-template-template-portfolio-fullscreen-lightbox2.layout-fullwidth
  .portfolio_container {
  padding: 0 90px;
}

.container.fullwidth-navigation {
  padding: 0 30px;
}

.container.classic-gallery-normal,
.classic-gallery-normal {
  width: 1200px;
  margin: 0 auto;
  padding: 0 11.5%;
}

.container.classic-gallery-small,
.classic-gallery-small {
  width: 1200px;
  margin: 0 auto;
  padding: 0 18%;
}

.portfolio-four,
.portfolio-two,
.portfolio-six,
.portfolio-one,
.portfolio-three,
.portfolio-four-double,
.portfolio-row {
  width: 25%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.portfolio-row {
  margin: 0 10px;
  padding-bottom: 120px;
  width: calc(100% - 20px);
}

.picture-row {
  width: 100%;
  height: 100%;
  position: relative;
}

.row-link {
  width: 33.33333%;
  float: left;
  height: 100%;
  display: inline-block;
  position: relative;
}

/* .add-space .row-link {
	margin: 0 10px 20px 10px;
	width: calc(33.33333% - 20px);
} */

.row-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: opacity 0.3s ease;
}

.row-image::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  z-index: 111;
  opacity: 0;
}

.row-link:hover .row-image::after {
  opacity: 1;
}

.portfolio-four-double {
  width: 50%;
}

.portfolio-six {
  width: 16.66667%;
}

.portfolio-one {
  width: 100%;
  text-align: center;
  /*margin: 0 auto;*/
}

.post-gallery .portfolio-one {
  margin-bottom: 20px;
}

.portfolio-two {
  width: 50%;
}

.portfolio-three {
  width: 33.33334%;
}

.portfolio-five {
  width: 20%;
}

.portfolio-eight {
  width: 12.5%;
}

.boxed-style .portfolio-one {
  width: calc(100% - 20px);
  margin: 0 10px 20px 10px;
}

.no-space .portfolio-one {
  width: 100%;
  margin: 0;
}

.boxed-style .portfolio-two {
  width: calc(50% - 20px);
  margin: 0 10px 20px 10px;
}

.no-space .portfolio-two {
  width: 50%;
  margin: 0;
}

.boxed-style .portfolio-three {
  width: calc(33.33334% - 20px);
  margin: 0 10px 20px 10px;
}

.no-space .portfolio-three {
  width: 33.33334%;
  margin: 0;
}

.boxed-style .picture .portfolio-three {
  width: calc(33.33334% - 2px);
  margin: 1px;
  float: left;
  display: inline-block;
  overflow: hidden;
}

.boxed-style .portfolio-four {
  width: calc(25% - 20px);
  margin: 0 10px 20px 10px;
}

.no-space .portfolio-four {
  width: 25%;
  margin: 0;
}

.boxed-style .portfolio-five {
  width: calc(20% - 10px);
  margin: 0 5px 10px 5px;
}

.no-space .portfolio-five {
  width: 20%;
  margin: 0;
}

.boxed-style .portfolio-five.size-2x1,
.boxed-style .portfolio-five.size-2x2,
.boxed-style .portfolio-five.size-2x3 {
  width: calc(40% - 10px);
}

.boxed-style .portfolio-five.size-3x3,
.boxed-style .portfolio-five.size-3x2,
.boxed-style .portfolio-five.size-3x1 {
  width: calc(60% - 10px);
}

.boxed-style.no-space .portfolio-five.size-2x1,
.boxed-style.no-space .portfolio-five.size-2x2,
.boxed-style.no-space .portfolio-five.size-2x3 {
  width: 40%;
}

.boxed-style.no-space .portfolio-five.size-3x3,
.boxed-style.no-space .portfolio-five.size-3x2,
.boxed-style.no-space .portfolio-five.size-3x1 {
  width: 60%;
}

.boxed-style.no-space .portfolio-item-slug:not(.portfolio-row),
.masonry-style.no-space .portfolio-item-slug:not(.portfolio-row) {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.portfolio-item-slug {
  visibility: hidden;
}

.portfolio_sizer {
  width: 20%;
}

.page-template-template-portfolio6-packery .portfolio_sizer {
  width: 16.6667%;
}

.boxed-style .portfolio-six {
  width: calc(16.66667% - 10px);
  margin: 0 5px 10px 5px;
}

.no-space .portfolio-six {
  width: 16.66667%;
}

.boxed-style .portfolio-six.size-2x1,
.boxed-style .portfolio-six.size-2x2,
.boxed-style .portfolio-six.size-2x3 {
  width: calc(33.3334% - 10px);
}

.boxed-style .portfolio-six.size-3x3,
.boxed-style .portfolio-six.size-3x2,
.boxed-style .portfolio-six.size-3x1 {
  width: calc(50% - 10px);
}

.boxed-style.no-space .portfolio-six.size-2x1,
.boxed-style.no-space .portfolio-six.size-2x2,
.boxed-style.no-space .portfolio-six.size-2x3 {
  width: 33.3334%;
}

.boxed-style.no-space .portfolio-six.size-3x3,
.boxed-style.no-space .portfolio-six.size-3x2,
.boxed-style.no-space .portfolio-six.size-3x1 {
  width: 50%;
}

.boxed-style .portfolio-eight {
  width: 12.5%;
  margin: 0;
}

.content-wrapper .portfolio-one a {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.content-wrapper .portfolio-one {
  margin-bottom: 20px;
}

.no-space .portfolio-one {
  width: 100%;
  margin: 0;
}

.portfolio-link:after {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #273140;
  /*background: rgba(39,43,47, 0.9);*/
  /*border: 20px solid rgba(255, 255, 255, 0.7);*/
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 111;
}

@media screen and (min-width: 959px) {
  .portfolio-item-slug:not(.has-hover-thumb):hover .portfolio-link:after {
    opacity: 1;
  }
}

.item-description {
  position: absolute;
  text-align: right;
  font-size: 17px;
  /*top: 50%;*/
  bottom: 25px;
  /* right: 0px; */
  left: 20px;
  /* width:100%; */
  /* padding:25px 20px; */
  margin: 0;
  z-index: 145;
  /*-webkit-transform: translateY(-50%);
	transform: translateY(-50%);*/
  pointer-events: none;
}

.item-description.clickable-title {
  pointer-events: auto;
}

.item-description h2 {
  padding: 0 15px;
  margin: 0;
  opacity: 1;
  font-size: 26px;
  line-height: 24px;
  /*letter-spacing:1px;*/
  font-weight: 700;
  color: #fff;
  /*text-transform:uppercase;*/
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.item-description h2 a {
  color: inherit;
}

.item-description h2 a:hover {
  color: #1fc8db;
}

.portfolio-five.masonry-item .item-description h2,
/*.portfolio-five:not(.size-1x1):not(.size-2x2) .item-description h2,*/
.portfolio-five:not(.size-2x2) .item-description h2,
.portfolio-six.masonry-item .item-description h2,
.portfolio-six .item-description h2 {
  font-size: 20px;
  line-height: 22px;
}

.portfolio-five.masonry-item .item-description,
.portfolio-five .item-description,
.portfolio-six.masonry-item .item-description,
.portfolio-six .item-description {
  font-size: 14px;
  padding: 25px 0 15px;
}

.portfolio-five.masonry-item .item-filter,
.portfolio-five .item-filter,
.portfolio-six.masonry-item .item-filter,
.portfolio-six .item-filter {
  padding-top: 5px;
}

.portfolio-row .item-description {
  text-align: center;
  bottom: 22px;
  pointer-events: auto;
}

.portfolio-row .item-description h2,
.portfolio-row .item-description h2 a {
  color: #273140;
  opacity: 1;
}

.portfolio-row .item-filter {
  display: none;
}

@media screen and (min-width: 959px) {
  .portfolio-item-slug:hover h2 {
    opacity: 0;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
}

.item-description a {
  padding: 0px;
  cursor: pointer;
}

.item-description p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
}

.item-filter {
  position: relative;
  text-align: right;
  font-weight: 400;
  padding: 8px 15px 2px 15px;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  color: #17ead9;
  pointer-events: none;
}

.portfolio-gallery-item img {
  margin: 0 auto;
  min-width: 100%;
}

.portfolio-gallery-item a:after,
.justified-gallery .slick-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #273140;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

@media screen and (min-width: 959px) {
  .portfolio-item-slug:hover .item-filter,
  .masonry-link:hover .item-filter,
  .slick-slide:hover .item-filter,
  .classic-link:hover .item-filter {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .portfolio-gallery-item:hover a:after,
  .justified-gallery .slick-slide:hover::after {
    opacity: 0.6;
  }
}

.thumb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-color: #ccc; */
  background-color: transparent;
  /*-webkit-transition: -webkit-filter 0.3s;
	transition: filter 0.3s;*/
  opacity: 1;
}

.portfolio-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio-item-slug .hover-thumb,
.portfolio-item-slug .hover-webm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 112;
  width: 100%;
  height: 100%;
}

.portfolio-item-slug .hover-webm {
  width: 100%;
}

.portfolio-item-slug .thumb,
.portfolio-item-slug .hover-thumb,
.portfolio-item-slug .hover-webm {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item-slug.loaded .thumb {
  opacity: 1;
}

.justified-cross,
.masonry-cross {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 112;
}

.portfolio-item-slug .thumb::before,
.portfolio-item-slug .thumb::after,
.portfolio-gallery-item .thumb::before,
.portfolio-gallery-item .thumb::after,
.slick-slide .justified-cross::before,
.slick-slide .justified-cross::after,
.masonry-cross::before,
.masonry-cross::after,
.row-link::after,
.row-link::before {
  position: absolute;
  content: "";
  z-index: 115;
  width: 40px;
  height: 5px;
  /*background: linear-gradient(90deg, #11ecb0 0%, #1fc8db 51%, #2cb5e8 75%);*/
  /*background: linear-gradient(90deg, #FFB21E 0%, #FF4D4D 100%);*/
  /*background: linear-gradient(90deg, #ff7676 0%, #f54ea2 100%);*/
  background: linear-gradient(90deg, #17ead9 10%, #6078ea 100%);
  /*background: #fff;*/
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.3s ease;
}

.page-template-template-portfolio3col-video .portfolio-item-slug .thumb::before,
.page-template-template-portfolio2col-video .portfolio-item-slug .thumb::before,
.page-template-template-portfolio1col-video .portfolio-item-slug .thumb::before,
.portfolio-item-slug.hide-info .thumb::before,
.portfolio-item-slug.hide-info .thumb::after {
  content: none;
}

/* .page-template-template-portfolio3col-video .portfolio-item-slug .thumb::after,
.page-template-template-portfolio2col-video .portfolio-item-slug .thumb::after,
.page-template-template-portfolio1col-video .portfolio-item-slug .thumb::after {
	background: none;
	background: -webkit-linear-gradient(90deg, #17ead9 10%, #6078ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-family: 'FontAwesome';
	content: '\f04b';
  width: 80px;
  height: 80px;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #17ead9;
	-webkit-transform: translateX(-40px) translateY(-40px) rotateZ(0) scale(1,1);
  transform: translateX(-40px) translateY(-40px) rotateZ(0) scale(1,1);
	-webkit-transition: opacity .6s ease, -webkit-transform 0.5s;
  transition: opacity .6s ease, transform 0.5s;
} */

/* @media screen and (min-width: 959px) {

	.page-template-template-portfolio3col-video .portfolio-item-slug:hover .thumb::after,
	.page-template-template-portfolio2col-video .portfolio-item-slug:hover .thumb::after,
	.page-template-template-portfolio1col-video .portfolio-item-slug:hover .thumb::after {
		-webkit-transform: translateX(-40px) translateY(-40px) rotateZ(0) scale(1.2,1.2);
	  transform: translateX(-40px) translateY(-40px) rotateZ(0) scale(1.2,1.2);
	}

} */
/* 
.portfolio-item-slug .thumb::after,
.portfolio-gallery-item .thumb::after,
.slick-slide .justified-cross::after,
.masonry-cross::after,
.row-link::after {
	-webkit-transform: translateX(-20px) translateY(-3px) rotateZ(90deg);
	transform: translateX(-20px) translateY(-3px) rotateZ(90deg);
} */

/* @media screen and (min-width: 959px) {

	.portfolio-item-slug:hover .thumb::before,
	.portfolio-item-slug:hover .thumb::after,
	.portfolio-gallery-item:hover .thumb::before,
	.portfolio-gallery-item:hover .thumb::after,
	.slick-slide:hover .justified-cross::before,
	.slick-slide:hover .justified-cross::after,
	.masonry-cross:hover::before,
	.masonry-cross:hover::after,
	.row-link:hover::after,
	.row-link:hover::before {
		opacity: 1;
	}

} */

.row-link:hover .row-image {
  opacity: 0.3;
}

@media screen and (min-width: 959px) {
  .portfolio-item-slug:hover .hover-thumb,
  .portfolio-item-slug:hover .hover-webm {
    opacity: 1;
    visibility: visible;
  }

  .portfolio-item-slug:hover .thumb {
    opacity: 0;
  }
}

.portfolio-item-slug .video-popup .thumb::before,
.portfolio-item-slug .video-popup .thumb::after {
  content: none;
}

.portfolio-item-slug .video-popup:before {
  content: "\f04b";
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background: transparent;
  text-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 141;
  top: 50%;
  left: 50%;
  opacity: 0.85;
  font-family: "FontAwesome";
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
  transform: translateX(-50%) translateY(-50%) scale(1, 1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (min-width: 959px) {
  .portfolio-item-slug:hover .video-popup::before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.4, 1.4);
    transform: translateX(-50%) translateY(-50%) scale(1.4, 1.4);
    opacity: 0.9;
  }
}

.add-offset .portfolio-three:nth-of-type(2),
.add-offset .portfolio-three:nth-of-type(6) {
  margin-top: 200px;
}

.add-offset .portfolio-five:nth-of-type(4),
.add-offset .portfolio-five:nth-of-type(8) {
  margin-top: 115px;
}

.add-offset .portfolio-five:nth-of-type(2),
.add-offset .portfolio-five:nth-of-type(10) {
  margin-top: 230px;
}

.portfolio-info {
  position: relative;
  text-align: center;
  padding: 30px 50px;
  font-size: 14px;
  font-weight: 300;
  color: #8d949e;
}

.portfolio-info strong {
  font-weight: 500;
  color: #273140;
}

.portfolio-info span {
  display: inline-block;
  padding: 0 10px;
}

/* ------------------------------------------------ */
/* Tablet Portrait (devices and browsers) */
/* ------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container .related-posts .one-third.column,
  .container.blog-content .one-third.column {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .floated-sidebar {
    width: 440px;
  }

  .blog-item.simple-post .date-number {
    width: 45%;
  }

  .blog-item.simple-post .post-content {
    padding: 0 10%;
  }
}

/* ------------------------------------------------ */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .floated-sidebar {
    width: 440px;
  }

  .container .related-posts .one-third.column,
  .container.blog-content .one-third.column {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .full-item,
  .full-item-recent {
    width: 100%;
    margin: 0;
  }

  .full-item.masonry-style {
    width: 100%;
  }

  .blog-item.simple-post .date-number {
    width: 45%;
  }

  .blog-item.simple-post .post-content {
    padding: 0 8%;
  }
}

/* ------------------------------------------------ */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* ------------------------------------------------ */
@media only screen and (max-width: 479px) {
  p.comment-form-author,
  p.comment-form-email,
  p.comment-form-url {
    width: 100%;
    padding: 0;
  }

  .full-item,
  .full-item-recent {
    width: 100%;
    margin: 0;
  }

  .portfolio-four,
  .portfolio-two,
  .portfolio-six,
  .portfolio-one,
  .portfolio-three,
  .portfolio-four-double,
  .portfolio-info,
  .boxed-style .portfolio-three,
  .boxed-style .portfolio-four,
  .boxed-style .portfolio-two,
  .boxed-style .portfolio-six {
    width: 100%;
  }

  .boxed-style .portfolio-three,
  .boxed-style .portfolio-four,
  .boxed-style .portfolio-two,
  .boxed-style .portfolio-six {
    margin-left: 0;
    margin-right: 0;
  }

  .post-footer .cats,
  .post-footer .single-tags {
    padding: 9px 0;
    display: block;
  }

  .post-footer .portfolio-share {
    float: none;
    padding-left: 0;
    padding-top: 10px;
  }

  .post-footer-meta,
  .simple-post-meta {
    padding: 20px 80px;
  }

  .comment-text {
    margin-left: 0;
  }

  .comment-text p {
    padding-right: 0;
  }

  .input {
    width: 100%;
    padding-right: 0;
  }

  .gallery-columns-0 .gallery-item,
  .gallery-columns-1 .gallery-item,
  .gallery-columns-2 .gallery-item,
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    width: 100%;
  }

  .alignright,
  .alignleft {
    float: none;
    margin: 0 auto 15px auto;
    display: block;
  }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .item-description h2,
  .item-filter {
    opacity: 1;
  }
}
