.carsol-img {
  position: relative;
}

.carousel-text {
  position: absolute;
  bottom: 0%;
  left: 5%;
  letter-spacing: 0.88px;
  font-size: 30px;
  color: white;
  font-weight: 600;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: white;
}
.carusoal {
  margin-top: 10rem;
}
.carsol-img-hover:hover {
  background: url("../../image//Group\ 70.svg");
  background-size: cover;
  cursor: pointer;
  width: 340px;
  width: 600px;
}
