.carsol-img {
  position: relative;
}
.main-img-hover {
  position: relative;
}

.carousel-text {
  position: absolute;
  left: 5rem;
  bottom: 4rem;
  letter-spacing: 0.88px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  z-index: 5000;
  width: 50%;
}
.arrow-icon-carrosoul {
  width: 14%;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: white;
}
.fa-chevron-left,
.fa-chevron-right {
  color: #e61b67;
}
.scroll {
  overflow: auto;
  white-space: nowrap;
}

.img-carosoul {
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.80; */
}

.img-carosoul-hover {
  position: relative;
  /* background-color: #010001; */
}
.text-hover {
  position: absolute;
  color: #ffffff;
  font-size: 17px;
  font-size: 600;
  left: 15%;
  display: none;
}
.hover:hover {
  /* opacity: 0.3; */
  border-radius: 15px;
}
/* .carsol-img-hover::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../image/Group\ 70.svg");
  opacity: 1;
} */
/* .carsol-img-hover:hover {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../image//Group\ 70.svg");
  opacity: 1;
} */
.img_parent_hover:hover {
  cursor: pointer;
}

.img_parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid #000000;
  opacity: 0;
  /* height:400px; */
  width: 290px;
  max-width: 300px !important;
}
.image1 p {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.75px;
  position: absolute;
  left: 80px;
}

.image2 {
  position: absolute;
  top: 100px;
  left: 64px;
  border: 1px solid #000000;
  width: 160px;
  height: 150px;
}

.img_parent_hover:hover .image2 {
  transition: 0.3s opacity linear;
  opacity: 0.3;
  border: none;
  width: 165px;
  height: 150px;
}

.img_parent_hover:hover .image1 {
  transition: 0.3s opacity linear;
  opacity: 1;
  border: none;
}

.slick-list {
  height: 350px;
}