.whatsapp-img1 {
  position: relative;
  text-align: center;
  color: white;
}
.whatsapp1 {
  width: 180px;
  margin-top: 10px;
  cursor: pointer;
}
.whatssapp-skill-content1 {
  position: absolute;
  top: 37%;
  left: 27%;
  font: normal normal medium 20px/55px Baloo 2;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
