header {
  height: 100vh;
  background-image: url("../../image/background-image-home.jpeg");
  background-color: #191919;
  background-position: center;
  background-size: cover;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 1.5rem;
}

.main-title {
  color: #e61277;

  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500;
}
.main-title-1 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.main-description {
  color: white;
  font-weight: 400;
  font-size: 20px;
  width: 40%;
  text-align: left;
}
.main {
  margin-top: 10%;
}

@media (max-width: 990px) {
  .main-title-1 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
  }
  .main {
    width: 70%;
    margin-left: -2rem;
    top: 60%;
  }
  .main-description {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .main-title-1 {
    font-size: 23px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
  }

  .main-description {
    width: 90%;
  }
  .main {
    top: 70%;
  }
}
@media (max-width: 380px) {
  .main-title-1 {
    font-size: 23px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
  }
  .main {
    width: 70%;
  }
  header {
    height: 700px;
  }
  .main-description {
    width: 90%;
    font-size: 18px;
  }
}
