.hover-icon:hover{
    cursor: pointer;
}

.privacy_policy_link{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}
.privacy_policy_link:hover{
    color:gray
    
}
