.fa-angle-right {
  color: white;
  font-size: 25px;
}
.form-group label {
  color: rgb(226, 224, 224);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn-width {
  width: 50%;
}
.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
::-webkit-input-placeholder {
  color: #ece8e8;
}
.from-input {
  background-color: rgb(58, 58, 58);
  padding: 12px 20px;
  margin-bottom: 10px;
  outline: none;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 5px;
}
.form-group {
  color: white !important;
}
.from {
  color: #ffffff;
}
.from-input:focus {
  background-color: rgb(58, 58, 58);
  outline: none;
  border: none;
}
.btn {
  background: linear-gradient(103deg, #fc6113 0%, #ed1673 100%) 0% 0%;
  outline: none;
  border: none;
  padding: 12px 80px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn .active {
  border: none;
}
/*  */
@media (max-width: 1350px) {
  .btn-yourname {
    width: 14rem;
  }
}
@media (max-width: 1267px) {
  .btn-yourname {
    width: 13rem;
  }
}
@media (max-width: 1230px) {
  .btn-yourname {
    width: 11rem;
  }
}
@media (max-width: 991px) {
  .btn-yourname {
    width: 15rem;
  }
}
